<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Vakyareeti</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="shortcut icon" type="image/png" href="fav.png" />
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand" onclick="location.href = '/'">Vakyareeti</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <!-- 6 -->
        <li id="about"><a href="/compose">COMPOSE</a></li>
        <li id="about"><a href="/logout">LOG OUT</a></li>
      </ul>
    </div>
  </nav>


  <div class="container">
